* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FAF8F8;
    color: #333;
}

.conteudo {
    margin-left: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8BCB9;
    width: 100%;
    max-width: 95%;
    margin-bottom: 20px;
    position: relative;
}

header h1 {
    color: #662549;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

#voltar {
    color: #662549;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.areaFormulario {
    width: 100%;
    max-width: 50% !important;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.areaFormulario p {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.areaFormulario label {
    font-size: 14px;
    color: #5A203F;
    margin-bottom: 5px;
}

.areaFormulario input[type="text"], .areaFormulario input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #5A203F;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.areaFormulario input[type="text"]:disabled {
    background-color: #E8BCB9;
}


.areaFormulario .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.areaFormulario .btns input[type="submit"], .areaFormulario .btns input[type="button"] {
    padding: 8px 16px; 
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    width: auto;
    box-sizing: border-box;
    text-align: center; 
}

.areaFormulario .btns #btnexcluir {
    background-color: #D9534F;
    color: #FFF;
    border: none;
}

.areaFormulario .btns #btnexcluir:hover {
    background-color: #C9302C;
}

.areaFormulario .btns #btnedit {
    background-color: #5B822A; 
    color: #FFF;
    border: none;
}

.areaFormulario .btns #btnedit:hover {
    background-color: #4A6D21;
}

.rodape {
    margin-top: 20px;
    text-align: center;
    color: #5A203F;
    font-size: 14px;
}

.rodape a {
    color: #662549;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #E8BCB9;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #F2F2F2;
}
