* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

.conteudo {
    margin-left: 70px;
    height: 100%;
}


.ladoesquerdo {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.blocomaior {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > i {
    color: #662549;
    font-size: 24px;
    cursor: pointer;
    width: 400px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    margin-bottom: 5%;
}

#voltar {
    color: black;
    zoom: 170%;
    margin-left: 27px;
}

.txtinfo {
    border: solid 1px #5A203F;
    border-radius: 5px;
    width: 500px;
    margin: 1%;
    height: 23px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #E8BCB9;
    border-radius: 10px;
    border: solid 1px #5A203F;
}

#selectprodutos {
    width: 500px;
    border-radius: 5px;
    border: solid 1px #5A203F;
    margin: 1%;
    height: 23px;
}

.selectservicos {
    width: 475px;
    border-radius: 5px;
    border: solid 1px #5A203F;
    margin: 1%;
    height: 23px;
}

#btns {
    zoom: 70%;
    width: 500px;
    border-radius: 5px;
    border: solid 1px #5A203F;
    margin: 1%;
    height: 23px;
}

.espacamento {
    margin-bottom: 60px;
}

option {
    background-color: #e8bcb975;
    border-radius: 2px;
    border-bottom: solid 1px #fff;
}

.data-selecionada {
    border: solid 1px #5A203F;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    height: 23px;
}

h1 {
    margin-top: 12px;
}

.btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#btnexcluir {
    background-color: #DB483E;
    border-radius: 10px;
    color: white;
    border: solid 1px #DB483E;
    padding: 10px;
    cursor: pointer;
}

#btnedit {
    background-color: #5B822A;
    border-radius: 10px;
    color: white;
    border: solid 1px #5B822A;
    padding: 10px;
    cursor: pointer;
}

.areaFormulario {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: thin solid #5A203F;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-right: 8px;
}

    .areaFormulario p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .areaFormulario input[type='text'], label {
        width: 100%;
    }

        .areaFormulario input[type='text']:disabled {
            background-color: #E8BCB9;
        }

    .areaFormulario label {
        box-sizing: border-box;
        padding: 10px 0;
    }

    .areaFormulario input[type='text'] {
        border: thin solid #5A203F;
        border-radius: 7px;
        box-sizing: border-box;
        padding: 10px;
    }

    .areaFormulario input[type='submit'] {
        border: none;
    }

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aviso.erro {
    background-color: #fdcccc;
    font-size: 1rem;
    padding: 10px 20px;
}

.aviso.sucesso {
    background-color: #cdfdcc;
    font-size: 1rem;
    padding: 10px 20px;
}
