*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    
   
}
BODY{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#divBusca{
    margin-top: 20px;
    border:solid 1px #5A203F;
    border-radius:15px;
    width:300px;
    margin-bottom: 5%;
    margin-left: 4%;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height: 18px;
    width: 260px;
    border-radius: 15px;
  }
  .listafunc{
     margin: 10px;
      margin-top: 12px;
      height: 625px;
      overflow-y: scroll;
  }

  i {
    height: 80px;
  }
  
  .conteudo{
    margin-left: 63px;
    display: flex;
}

.funcionario{
    border: solid 1px #5A203F;
    width: 95%;
    padding: 2%;
    
}
.ladoesquerdo{
    
  
    border-right: solid 1px #5A203F;
    width: 450px;
    display: flex;

    flex-direction: column;
    gap: 10px;
    
    height: 939px;
}

::-webkit-scrollbar {
  width: 10px;
 
}

::-webkit-scrollbar-thumb {
  background-color: #E8BCB9;
   border-radius: 10px;
   border: solid 1px #5A203F;
}
#btnadd{
  width: 66px;
  height: 64px;
  cursor: pointer;
  margin-top: 13%;
  margin-right: 10%;
}
.btnajuste{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ladodireito
{
  width: 70%;
  padding-left: 1%;
  padding-top: 1%;
 
}
.inputinfo{
  border: solid 1px #5A203F ;
  border-radius: 5px;
  width: 500px;
  margin: 1%;
  height: 23px;
}
.infromacoesfunc{
display: flex;
flex-direction: row;
align-items: flex-start;
}
.caixainfo{
  margin: 3%;
  display: flex;
  align-items: center;

}
.listadeserviços{
  width: 100%;
  border-radius: 5px;
  border: solid 2px #5a203f;
  height: 260px;
  padding-left: 5px;
  overflow-y: scroll;
  
}

.centralizarinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10%;
  width: 900px;
  margin-left: 12%;
}

.login
{
  margin-top: 75px;
}

h2{    
  margin-right: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.linhadecima{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin-top: 2%;
 
}
.linhadebaixo{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    width: 98%;
    border-bottom: solid 1px #5A203F;
    align-items: flex-start;
    margin-top:1%;
}

#btneditar
{
  width: 64px;
  height: 64px;
  cursor: pointer;
  margin-top: -5%;
  margin-right: -264px;
}

.disponibilidade{margin-left: 60px;}

.dia
{
  border-bottom: solid 1px #5A203F;
  margin: 15px;
  width: 290px;
  display: flex;
  justify-content: space-between;
}

.exemplo
{
  background-color: #FFF1F1;
  margin-left: 12px;
  margin-top: -15px;
  width: 293px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rdb
{
  width: 19px;
}

/*editar funcionario*/

.titulo
{
  margin-right: 78%;
}

.addservico
{
  background-color: #662549;
  color: #FFF1F1;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  margin-left: 790px;
}

.outrosbtn
{
  background-color: #662549;
  color: #FFF1F1;
  height: 54px;
  width: 135px;
  border-radius: 11px;
  margin-right: 5px;
  cursor: pointer;
}

.btns
{
  margin-left: 785px;
  display: flex;
  margin-top: 9px;
}


.botoes
{
  display: flex;
}

.posicao
{
  margin-left: 30%;
}


.editar
{
  display: flex;
  align-items: center;
}

.gambiarra
{
  margin-left: 37px;
}
.voltar
{
  height: 25px;
}