body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    color: #ffffff;
    background-color: #662549;
    height: 74px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    position: fixed;
}

#logobrancaheader {
    width: 100px;
    height: 74px;
}

il {
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;
}

#btnagendar {
    background-color: #ffffff;
    width: 136px;
    height: 39px;
    color: #662549;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

h1 {
    color: white;
    margin-top: -409px;
    font-size: 46px;
    margin-left: 10%;
    position: relative;
    width: 60%;
}

#fotobanner {
    width: 100%;
    opacity: 0.5;
    background-color: #662549;
    height: 400px;
}

#banner {
    width: 100%;
    opacity: 0.8;
    background-color: #662549;
    height: 400px;
}

#titulo {
    font-size: 45px;
    text-shadow: 2px 2px black;
}

#endereço {
    margin-left: 23px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    margin-left: 10%;
}

#nossosalao {
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

h2 {
    color: #662549;
    font-size: 35px;
    margin-left: 10%;
    margin-bottom: -4%;
}

#ladoesquerdotexto {
    width: 65%;
    border-right: 2px solid #662549;
}

#textonossosalao {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

#ladodireito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 400px;
    margin-left: 2%;
}

#imgnossosalao {
    width: 100%;
}

#servicosdeexcelencia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
}

    #servicosdeexcelencia img {
        width: 100%;
        height: 200px;
    }

.alinhar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#listadiferenciais {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    margin-top: 7%;
    margin-bottom: 80px;
    margin-right: 10%;
    width: 100%;
}

ul il a {
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    background-color: #662549;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

#ladologo {
    margin-left: 20px;
}

#informacoesfooter {
    margin-right: 40px;
}

#endereco {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

#redessociais {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;
}

#paiservicos {
    background-color: #EAE1E6;
}

#ladologo img {
    width: 58%;
}

/*responsivo*/
@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 240px;
        width: 100%;
    }

    il {
        margin-left: unset;
        margin-right: unset;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }

    #btnagendar {
        width: 333px;
    }

    #banner {
        width: 100%;
        opacity: 0.8;
        background-color: #662549;
        height: 400px;
    }

    #fotobanner {
        width: 100%;
        opacity: 0.5;
        background-color: #662549;
        height: 400px;
    }

    h1 {
        font-size: 30px;
    }
}
