body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    color: #ffffff;
    background-color: #662549;
    height: 74px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}

#logobrancaheader {
    width: 100px;
    height: 74px;
}
a {
    color: white;
    text-decoration:none;
}

li {
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;
    list-style-type: none;
    
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#btnagendar {
    background-color: #ffffff;
    width: 136px;
    height: 39px;
    color: #662549;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

h1 {
    color: white;
    margin-top: -399px;
    font-size: 46px;
    margin-left: 10%;
    position: relative;
    width: 60%;
}

#fotobanner {
    width: 100%;
    background-color: #662549;
    height: auto
}

#banner {
   
    background-color: #662549;
    height: 600px ;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo {
    font-size: 45px;
    text-shadow: 2px 2px black;
}

#enderecobanner{
    margin-left: 23px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    margin-left: 10%;
}

#nossosalao {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

h2 {
    color: #662549;
    font-size: 35px;
    margin-left: 10%;
  
}

#ladoesquerdotexto {
    width: 65%;
    border-right: 2px solid #662549;
}

#textonossosalao {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

#ladodireito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 400px;
    margin-left: 2%;
}

#imgnossosalao {
    width: 100%;
}

#servicosdeexcelencia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-left: 10%;
    margin-right: 10%;
   
}
    #servicosdeexcelencia img {
        width: 100%;
        height: 200px;
    }

.alinhar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#listadiferenciais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 80px;
    margin-right: 10%;
    margin-left: 10%;
}
ul il a {
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    background-color: #662549;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

#ladologo {
    margin-left: 20px;
}

#informacoesfooter {
    margin-right: 40px;
}

#enderecofooter
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
   
    color: white;
}


#redessociais {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;
}

#paiservicos {
    background-color: #EAE1E6;
}

#ladologo img {
    width: 58%;
}

/*responsivo*/
@media screen and (max-width: 730px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 240px;
        width: 100%;
        position: unset;
    }

    il {
        margin-left: unset;
        margin-right: unset;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: -36px;
    }

    #btnagendar {
        width: 333px;
    }

    #fotobanner {
        width: 100%;
        
        background-color: #662549;
        height: 300px;
    }

    #banner {
        width: 100%;
        background-color: none;
        height: 300px;
    }

    #titulo {
        font-size: 28px;
        text-shadow: 2px 2px black;
    }

    h1 {
        color: white;
        font-size: 25px;
        margin-left: 10%;
        position: relative;
        width: 60%;
    }

    #nossosalao {
        margin-left: 10%;
        margin-right: 10%;
        height: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #ladoesquerdotexto {
        width: 100%;
        border-right: unset;
    }

    #ladodireito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        height: unset;
        margin-left: unset;
    }

    #listadiferenciais {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 2%;
        margin-top: 7%;
        margin-bottom: 80px;
        margin-right: 10%;
        width: unset;
    }

    #servicosdeexcelencia {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        height: unset;
        align-items: center;
    }

    h2 {
        color: #662549;
        font-size: 20px;
        margin-left: unset;
        margin-bottom: unset;
        text-align: center;
    }

    footer {
        width: 100%;
        display: flex;
        background-color: #662549;
        color: white;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #ladologo img {
        width: 100%;
    }
    #ladologo {
        margin-left: unset;
    }
    #redessociais{
        margin-bottom:10px;
    }
}
    





