* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FAF8F8;
    color: #333;
}

.conteudo {
    margin-left: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8BCB9;
}

h1 {
    color: #662549;
    flex: 1;
    text-align: center;
}

.categoria-servico {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoria {
    background-color: #fdfdfd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.categoria:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cabecalho-categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cabecalho-categoria h2 {
    font-size: 1.8rem;
    color: #e8bcb9;
}

.cabecalho-categoria .icones i {
    font-size: 1.5rem;
    cursor: pointer;
    color: #4e0e35;
    transition: color 0.3s ease;
}

.cabecalho-categoria .icones i:hover {
    color: #6b2c52;
}

.servicos {
    list-style-type: none;
    padding: 0;
}

.servicos li {
    font-size: 1.2rem;
    padding: 10px 0;
    border-bottom: 1px solid #c197a3;
}

.servicos li:last-child {
    border-bottom: none;
}

.servicos li i {
    font-size: 1.2rem;
    color: #4e0e35;
    margin-right: 15px;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}